/* Write your CSS code here. */
.bg {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  background-color: white;
  height: 300px;
  width: 200px;
}
.heading {
  font-size: 32px;
  color: black;
  font-family: 'Roboto';
}
.emojis {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.em {
  width: 50px;
  height: 50;
}
.name {
  color: #1e293b;
  font-size: 12px;
}
.bg-emoji {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.heading-emojis {
  color: black;
  font-size: 18px;
  font-family: 'Roboto';
}
.sub-head-emojis {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
}
